@model IPagedList<Message>
@{
    ViewData["Title"] = "FamilyMessages";
    Layout = "~/Views/MainLayout/Index.cshtml";
}

<div class="mailcontent-subject">
    <h4>Aile Mesajları</h4>
</div>
@if (Model == null || !Model.Any())
{
    @await Component.InvokeAsync("_MainLayoutEmptyPageComponent")
}
else
{

    @foreach (var item in Model)
    {
        <div class="mailcontent-group">
            <div class="mailcontent-item">
                <div style="display:flex; justify-content:space-between; font-size:12px; color:#666;">
                    <div>
                        @item.Sender.FirstName @item.Sender.LastName &lt;<strong>@item.Sender.Email</strong>&gt; →
                        <strong>@item.Reciever.FirstName @item.Reciever.LastName</strong>
                    </div>
                    <div style="color:tomato;">@item.SendDate.ToString("dd-MM-yyyy")</div>
                </div>

                <div class="mailcontent-body" style="display:flex; justify-content:space-between; align-items:center; padding:5px 10px; border-radius:4px;">
                    <p style="margin:0; font-size:14px; font-weight:500;">
                        Konu:<strong> @item.Subject</strong>
                        <span style="color:#007bff;">⇒ @(item.Body.Length > 50 ? item.Body.Substring(0, 50) + "..." : item.Body)</span>
                    </p>

                    <div style="display:flex; gap:10px;">
                        <!-- Oku -->
                        <a href="/Message/MessageDetail/@item.MessageId" class="btn btn-sm btn-primary" style="padding: 2px 8px; font-size: 12px; border-radius: 3px;">Oku</a>


                        <form asp-action="BackToMessageFromCategory" asp-controller="Message" method="post" style="display:inline;">
                            <input type="hidden" name="id" value="@item.MessageId" />
                            <button type="submit" class="btn btn-sm btn-success"
                                    style="padding:2px 8px; font-size:12px; border-radius:3px;">
                                Geri Al
                            </button>
                        </form>


                        <button onclick="deletedMessage(@item.MessageId)" class="btn btn-sm btn-danger"
                                style="padding:2px 8px; font-size:12px; border-radius:3px;">
                            <i class="ri-delete-bin-line"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    }
}


@await Component.InvokeAsync("_MainLayoutPagedComponent", new { model = Model, actionName = "FamilyMessages" })
