
@*
    Main Layout Sidebar Component
*@

<div class="sidebar">
    <div class="sidebar-header">
        <a href="" class="sidebar-logo">
            <strong>Sinan</strong>Kaya
        </a>
    </div>
    <div style="padding: 10px;">
        <button onclick="window.location.href='/Message/SendMessage'"
                style="width: 100%; background-color: #ffffff; color: blue; border: none; padding: 10px; border-radius: 4px; font-weight: bold;">
            <i class="ri-send-plane-line" style="margin-right: 6px;"></i> Gönder
        </button>
    </div>

    <div class="sidebar-body">
        <label class="sidebar-label">Mail Kutusu</label>
        <nav class="nav flex-column mb-5">
            <a href="#" class="nav-link" onclick="window.location.href='/Message/Index'">
                <i class="ri-inbox-line" style="margin-right: 6px;"></i>
                <span>Gelen Kutusu</span>
                <span class="badge bg-info ms-auto">@ViewBag.messageCount</span>
            </a>
            <a href="#" class="nav-link" onclick="window.location.href='/Message/Sendbox'">
                <i class="ri-inbox-line" style="margin-right: 6px;"></i>
                <span>Giden Kutusu</span>
                <span class="badge bg-info ms-auto">@ViewBag.sentMessageCount</span>
            </a>
            <a href="#" class="nav-link" onclick="window.location.href='/Message/DraftBox'">
                <i class="ri-inbox-line" style="margin-right: 6px;"></i>
                <span>Taslaklar</span>
                <span class="badge bg-info ms-auto">@ViewBag.draftMessageCount</span>
            </a>
            <a href="#" class="nav-link" onclick="window.location.href='/Message/TrashBox'">
                <i class="ri-inbox-line" style="margin-right: 6px;"></i>
                <span>Çöp Kutusu</span>
                <span class="badge bg-info ms-auto">@ViewBag.deletedMessageCount</span>
            </a>
        </nav>

        <label class="sidebar-label">Diğer</label>
        <nav class="nav flex-column mb-5">
            <a href="/Message/BusinessMessages" class="nav-link">
                <i class="ri-briefcase-line" style="color: #dc3545;"></i>
                <span>İş Mesajları</span>
                <span class="badge bg-info ms-auto">@ViewBag.businessMessageCount</span>
            </a>
            <a href="/Message/FamilyMessages" class="nav-link">
                <i class="ri-home-heart-line" style="color: #28a745;"></i>
                <span>Aile Mesajları</span>
                <span class="badge bg-info ms-auto">@ViewBag.familyMessageCount</span>
            </a>
            <a href="/Message/ImportantMessages" class="nav-link">
                <i class="ri-star-line" style="color: #f1c40f;"></i>
                <span>Önemli</span>
                <span class="badge bg-info ms-auto">@ViewBag.importantMessageCount</span>
            </a>
        </nav>

    </div>
</div>